<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="<%- info.logo %>">
    <link rel="stylesheet" href="./style/index.css">
    <title><%= info.name %></title>
</head>
<body>
    
    <%- include('./include/header.ejs') %>

    <div class="main">
        <h1> <%= info.name %> </h1>
        <p> <img src="./assets/united-arab-emirates.png" alt=""> فريق عمل سعودي لبرمجة الالعاب وطبعاً ونصدر تفسيرات شروحات على مواقع التواصل الاجتماعي <br> <br> <img src="./assets/united-kingdom.png" alt=""> A Saudi team for programming games and of course we have explanations on social networking sites.
        </p>
        <a href="/contact">تواصل معنا</a>
    </div>

</body>
</html>