<link rel="stylesheet" href="../style/header.css">

    <div class="nav">
        <div class="nav-logo">
            <a href="/"><img src="<%- info.logo %>" alt=""></a>
            <h1><%= info.firstName %></h1>
        </div>
        <ul>
            <a class="nav-link" href="/"><li>الصفحة الرئيسية</li></a>
            <a class="nav-link" href="/our-games"><li>الألعاب</li></a>
        </ul>
    </div>
